<div class="page container">
  <div class="header container">
    <div class="row logo">
      <div class="content-center"><img src="assets/images/logo.jpg"/></div>
    </div>
    <div class="about row">
      <div class="content-center text-center">Самый большой выбор полотен для натяжных потолков в Москве!</div>
    </div>
    <div class="discount text-center">
      <div class="discount_header">Акция до 15.03.2018!!!</div>
      <div class="discount_text>">MSD Premium на отрез от 45 руб/м2, в гарпуне от 69руб/м2</div>
    </div>
    <div class="price-form text-center">
      <div><input class="email-input" type="email" placeholder="Введите адрес электронной почты"></div>
      <div><button type="button" class="btn btn-lg">Получить прайс</button></div>
    </div>
  </div>
</div>
<div class="article">
  <div class="container">
    <div class="main_info row">
      <div class="address col-md-3 offset-md-2 col-xs-10 offset-xs-1">
        <div class="ul_header">Адреса:</div>
        <hr class="col-xm-10">
        <ul class="address_body col-md-11">
          <li>Точка выдачи: Москва, ул. Калибровская, д. 31, стр. 4</li>
          <li>Производство: МО, г. Ивантеевка, ул. Огорхоз, д. 1 </li>
          <li>Осуществляем доставку комплектующих до адреса</li>
        </ul>
      </div>
      <div class="contact col-md-3 offset-md-2 col-xs-12">
        <div class="ul_header">Контактные данные:</div>
        <hr>
        <ul class="contact_body">
          <li class="phone">
            <div class="icon"></div>
            <div class="contact_text">8(800)777-3288<br>(звонок бесплатный)</div>
          </li>
          <li class="whatsapp">
            <div class="icon"></div>
            <div class="contact_text">+7(926)222-1997</div>
          </li>
          <li class="viber">
            <div class="icon"></div>
            <div class="contact_text">+7(926)222-1997</div>
          </li>
          <li class="email">
            <div class="icon"></div>
            <div class="contact_text">1@vse-polotna.ru</div>
          </li>
          <li>
            <div>С 8:00 до 20:00 (Ежедневно)</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="сopyright">© 2018 Все права защищены</div>
</div>
