.about {
  font-size: 30px;
  color: #000000;
}

.page {
  height: 62%;
  min-height: 655px;
}

.logo {
  margin-top: 5%;
}

.discount {
  font-size: 42px;
  color: #8a4c79;
  line-height: 3rem;
}

.article {
  background-color: #e8e9de;
  height: 35%;
  min-height: 400px;
}

.main_info {
  padding-top: 6%;
}

.email-input {
  background-color: #e8e8e8;
  border-radius: 25px;
  width: 355px;
  height: 48px;
  color: #aeaeae;
  padding-left: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border: none;
}

.email-input:focus {
  outline: none;
}

.price-form {
  margin-top: 55px;
}

.btn {
  width: 295px;
  height: 62px;
  background-color: #8a4c79;
  border-color: #8a4c79;
  color: #ffffff;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
}

.ul_header {
  font-size: 25px;
  color: #949db3;
}

.footer {
  margin-right: 0;
  height: 4%;
  min-height: 25px;
  text-align: center;
  background-color: #888787;
}

.content-center {
  margin: 0 auto;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

.ul_header {
  font-size: 25px;
  color: #6f7ca0;
}

hr {
  margin: 0;
  border-top: 2px solid #8a4c79;
}

ul li {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.images {
  margin-right: 25px;
}

.phone_image {
  margin-top: 5px;
  height: 27px;
  width: 27px;
  margin-right: 27px;
  float: left;
}

.whatsap {
  color: #32d02d;
}

.viber {
  color: #9b5ab6;
}

.email {
  color: #5c6b96;
}

/* xs (<=543px) */
@media (max-width: 575px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .about {
    margin: 0 auto;
    max-width: 300px;
    font-size: 14px;
    line-height: 1.3rem;
  }
  .page {
    min-height: 400px;
    height: 400px;
    padding-left: 0;
    padding-right: 0;
  }
  .discount {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5rem;
  }
  .price-form {
    margin-top: 15px;
  }
  .email-input {
    width: 175px;
    height: 35px;
    font-size: 10px;
    padding-left: 4px;
  }
  .btn {
    width: 145px;
    height: 35px;
    font-size: 12px;
  }
  .article {
    min-height: 500px;
  }

  .logo {
    max-width: 300px;
    margin: 0 auto;
  }

}


