<div class="page container">
  <div class="header container">
    <div class="logo row"></div>
    <div class="about row">Самый большой выбор полотен для натяжных потолков в Москве!</div>
    <div class="discount">
      <div class="discount_header">Акция до 15.03.2018!!!</div>
      <div class="discount_text>">MSD Premium на отрез от 45 руб/м2, в гарпуне от 69руб/м2</div>
    </div>
    <div class="price_form">
      <div class="email_input"></div>
      <div class="send_btn"></div>
    </div>
  </div>

  <div class="main_info">
    <div class="address">
      <div class="address_header">Адреса:</div>
      <div class="address_body">
        <p>Точка выдачи: Москва, ул. Калибровская, д. 31, стр. 4</p>
        <p>Производство: МО, г. Ивантеевка, ул. Огорхоз, д. 1 </p>
        <p>Осуществляем доставку комплектующих до адреса</p>
      </div>
    </div>

    <div class="contact">
      <div class="contact_header"></div>
      <div class="contact_body">
        <div class="phone">
          <div class="icon"></div>
          <div class="contact_text">8(800)777-3288 (звонок бесплатный)</div>
        </div>
        <div class="whatsapp">
          <div class="icon"></div>
          <div class="contact_text">+7(926)222-1997</div>
        </div>
        <div class="viber">
          <div class="icon"></div>
          <div class="contact_text">+7(926)222-1997</div>
        </div>
        <div class="email">
          <div class="icon"></div>
          <div class="contact_text">1@vse-polotna.ru</div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="сopyright">© 2018 Все права защищены</div>
  </div>
</div>
