/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.about {
  font-size: 30px;
  color: #000000;
}

.page {
  height: 65.2%;
  min-height: 550px;
}

.discount {
  font-size: 36px;
  color: #8a4c79;
  line-height: 3rem;
}

.article {
  background-color: #e8e9de;
  height: 32%;
  min-height: 320px;
}

.main_info {
  padding-top: 3%;
}

.email-input {
  background-color: #e8e8e8;
  border-radius: 25px;
  width: 355px;
  height: 48px;
  color: #000000;
  padding-left: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: none;
}

.email-input:focus {
  outline: none;
}
.email-input:focus::-webkit-input-placeholder {
  color: transparent
}

.email-input:focus::-moz-placeholder {
  color: transparent
}

.email-input:focus:-moz-placeholder {
  color: transparent
}

.email-input:focus:-ms-input-placeholder {
  color: transparent
}

.price-form {
  margin-top: 30px;
}

.btn {
  width: 295px;
  height: 62px;
  background-color: #8a4c79;
  border-color: #8a4c79;
  color: #ffffff;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
}

.ul_header {
  font-size: 25px;
  color: #949db3;
}

.footer {
  margin-right: 0;
  height: 1%;
  min-height: 25px;
  text-align: center;
  background-color: #888787;
}

.content-center {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.ul_header {
  font-size: 25px;
  color: #6f7ca0;
}

hr {
  margin: 0;
  border-top: 2px solid #8a4c79;
}

ul li {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.images {
  margin-right: 25px;
}

.phone_image {
  margin-top: 5px;
  height: 27px;
  width: 27px;
  margin-right: 27px;
  float: left;
}

.whatsap {
  color: #32d02d;
}

.viber {
  color: #9b5ab6;
}

.email {
  color: #5c6b96;
}

/* xs (<=543px) */
@media (max-width: 575px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .about {
    margin: 0 auto;
    max-width: 300px;
    font-size: 14px;
    line-height: 1.3rem;
  }
  .page {
    min-height: 360px;
    height: 360px;
    padding-left: 0;
    padding-right: 0;
  }
  .discount {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5rem;
  }
  .price-form {
    margin-top: 15px;
  }
  .email-input {
    width: 175px;
    height: 35px;
    font-size: 13px;
    padding-left: 4px;
  }
  .btn {
    width: 145px;
    height: 35px;
    font-size: 12px;
  }
  .article {
    min-height: 500px;
  }

  .logo {
    max-width: 300px;
    margin: 0 auto;
  }

}

/* sm (>=576 и <=767) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .page {
    min-height: 700px;
  }
  .article {
    min-height: 430px;
  }
}

/* md (>=768 и <=991) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page {
    min-height: 700px;
  }
  .article {
    min-height: 420px;
  }
  .address {
    margin-left: 10%;
  }
}

/*!* lg (>=992 и <=1199) *!*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page {
    min-height: 550px;
  }
  .article {
    min-height: 420px;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /*.btn {*/
    /*margin: 12px 0;*/
  /*}*/
  /*.price-form {*/
    /*margin-top: 20px;*/
  /*}*/
  .page {
    min-height: 550px;
  }
  /*.article {*/
    /*min-height: 300px;*/
  /*}*/
  .main_info {
    padding-top: 3%;
  }
}

@media screen and (min-width: 1900px) {
  .header {
    padding-top: 5%;
  }
  .email-input {
    margin-top: 50px;
  }
  .main_info {
    padding-top: 3%;
  }
}
@media screen and (width: 1440px) {
  .page {
    height: 550px;
  }
}




